body{
  background-image: url("../images/background.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
}

div{
  margin: auto;
}

footer{
  background-color: #ff935c;
  margin-top: 50px;
  padding: 20px;
}

p{
  font-size: 20px;
}

ul{
  margin: auto;
  width: 60%;
}

.list-content{
  font-size: 16px;
  margin: 8px;
}

.text{
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#image{
  border-radius: 5%;
  display: block;
  margin: auto;
  max-width: 800px;
  width: 80%;
}

#main{
  padding-bottom: 32px;
}

#main-container{
  background-color: #f9e090;
  padding-top: 20px;
  width: 60%;
}

#title{
  font-family: font-family: 'Fredoka One', cursive;
  font-size: 72px;
}

#tribute-info{
  font-size: 32px;
  margin: 32px auto;
  width: 60%;
}
