div{
  margin: auto;
}

ul{
  margin: auto;
  width: 60%;
}

.text{
  text-align: center;
}

#image{
  border-radius: 2%;
  display: block;
  margin: auto;
  max-width: 1140px;
  width: 80%;
}

#main{
  padding-bottom: 32px;
}

body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

/* * { border: 1px solid red; } */